section.featured
    .middle
        h2 Base Project

        p with gulp, postCSS, pugHTML

    picture
        source(srcset="https://tctechcrunch2011.files.wordpress.com/2015/04/codecode.jpg" media="(max-width: 1024px)")
        img(src="https://tctechcrunch2011.files.wordpress.com/2015/04/codecode.jpg" alt="teste")