@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/bebas-neue-bold.woff2') format('woff2'),
        url('../fonts/bebas-neue-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}